* {
  font-family: Source Sans Pro , sans-serif;
}

.container-suggestion {
  display: flex;
  height: 130px;
  overflow-x: auto;
  width: auto;
}

.suggestion-img {
  border-radius: 20px;
  height: 130px;
  margin-left: 10px;
  margin-right: 5px;
  width: 220px;
}


.description {
  color: white;
  font-size: 20px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.country-card {
  border-radius: 20px;
  height: 80px;
  margin-left: 10px;
  margin-right: 25px;
  position: relative;
  width: 130px;
}

.country-img {
  border-radius: 16px;
  filter: brightness(50%);
  height: 80px;
  margin-right: 5px;
  width: 150px;
}

.category-img {
  border-radius: 16px;
  filter: brightness(50%);
  height: 80px;
  opacity: 0.9;
  padding-right: 10px;
  width: 190px;
}

::-webkit-scrollbar {
  display: none;
}

.container-categories {
  display: flex;
  height: 80px;
  margin-top: 20px;
  overflow-x: auto;
  width: auto;
}

.categories {
  border-radius: 16px;
  color: aliceblue;
  display: flex;
  margin-left: 10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.descript-categ {
  margin-top: -120px;
  text-align: center;
}

.names-categ {
  margin-top: 50px;
  text-align: center;
}

.reload {
  background-color: white;
  border: none;
  margin-left: 360px;
}
