:root {

  --main-color: rgba(203, 0, 2, 255);
}

header {
  background-color: var(--main-color);
  border-radius: '10px';
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  justify-content: space-between;
}

header img, button {
  background-color: var(--main-color);
}

header button {
  border: none;
  padding: 10px;
}

.footer {
  background-color: var(--main-color);
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-select {
  display: inline;
  text-align: center;
  margin-left: 3px;
}